
<!-- This header file will be used for links used in each page and navigation bar -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resorcerer</title>
<!-- App JS -->
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/search.js"></script>

<!-- External CSS -->
    <link rel="stylesheet" href="../styles/header.css" type="text/css" />
    <link rel="stylesheet" href="../styles/layout.css" type="text/css" />

     <link rel="stylesheet" href="../public/styles/share-page.css" type="text/css" />
  </head>
  <body>
<!-- _HEADER.EJS -->

<!-- NAVIGATION BAR -->
    <nav id="nav-bar-container">
      <img class="logo" src="http://clipartix.com/wp-content/uploads/2016/05/Cartoon-lightning-bolt-clipart.png">
      <form action="/search" method="GET">
        <span class="search-bar-container">
          <input id="search" type="text" name="search" placeholder="Search for a topic or URL"/>
          <input class="search-button" type="submit" value="Search"/>
        </span>
      </form>
      <span class="button-container">
        <a href="#"><button class="home" type="profile">Home</button></a>
        <a href="#"><button class="post" type="profile">Post</button></a>
        <a href="#"><button class="profile" type="profile">Profile</button></a>
      </span>
    </nav>
    <div id="page">


=======
<nav id="nav-bar-container">
  <a href="/"><img class="logo" src="http://clipartix.com/wp-content/uploads/2016/05/Cartoon-lightning-bolt-clipart.png"></a>
    <span class="button-container">
      <a href="/"><button class="home" type="profile">Home</button></a>
      <a href="/resources/new"><button class="post" type="profile">Post</button></a>
      <a href="#"><button class="profile" type="profile">Profile</button></a>
      <a href="/login"><button class="profile" type="profile">Login</button></a>
    </span>
  <form action="/search" method="POST">
    <label for="search"></label>
    <span class="search-bar-container">
      <input id="search-bar" id="search" type="text" name="search" placeholder="Search for a topic or URL">
      <input type="submit" value="Search">
    </span>
  </form>
</nav>
