<nav id="nav-bar-container">
  <a href="/"><img class="logo" src="http://clipartix.com/wp-content/uploads/2016/05/Cartoon-lightning-bolt-clipart.png"></a>
    <span class="button-container">
      <a href="/"><button class="home" type="profile">Home</button></a>
      <a href="/resources/new"><button class="post" type="profile">Post</button></a>
      <a href="#"><button class="profile" type="profile">Profile</button></a>
      <a href="/login"><button class="profile" type="profile">Login</button></a>
    </span>
  <form action="/search" method="POST">
    <label for="search"></label>
    <span class="search-bar-container">
      <input id="search-bar" id="search" type="text" name="search" placeholder="Search for a topic or URL">
      <input type="submit" value="Search">
    </span>
  </form>
</nav>