<!DOCTYPE html>
<html>
<head>
<title>Resorcerer</title>
<link rel="stylesheet" href="../styles/welcome.css" type="text/css" />
</head>
<body>
Welcome to Resourcerer!
<br>
<br>
<br>
<br>
  <section>
  PHOTOS
    <article>
      <div>
      <img src="http://www.javatpoint.com/images/javascript/javascript_logo.png" height="100" width="100">
      <br>
      <button method ="get" type="button">Comment</button>
      <p> @Gabe: This is a great picture, glad I found this! </p>
      </div>
      <div>
       <img src="http://www.javatpoint.com/images/javascript/javascript_logo.png" height="100" width="100">
      <br>
      <button method ="get" type="button">Comment</button>
      <p> @Gabe: This is a great picture, glad I found this! </p>
      </div>
      <div>
       <img src="http://www.javatpoint.com/images/javascript/javascript_logo.png" height="100" width="100">
      <br>
      <button method ="get" type="button">Comment</button>
      <p> @Gabe: This is a great picture, glad I found this! </p>
      </div>
      <div>
      <img src="http://www.javatpoint.com/images/javascript/javascript_logo.png" height="100" width="100">
      <br>
      <button method ="get" type="button">Comment</button>
      <p> @Gabe: This is a great picture, glad I found this! </p>
      </div>

    </article>

  </section>

  <section>
  LINKS
    <article>
      <div>
      <img src="http://www.javatpoint.com/images/javascript/javascript_logo.png" height="100" width="100">
      <br>
      <button method ="get" type="button">Comment</button>
      <p> @Gabe: This is a great picture, glad I found this! </p>
      </div>
      <div>
       <img src="http://www.javatpoint.com/images/javascript/javascript_logo.png" height="100" width="100">
      <br>
      <button method ="get" type="button">Comment</button>
      <p> @Gabe: This is a great picture, glad I found this! </p>
      </div>
      <div>
       <img src="http://www.javatpoint.com/images/javascript/javascript_logo.png" height="100" width="100">
      <br>
      <button method ="get" type="button">Comment</button>
      <p> @Gabe: This is a great picture, glad I found this! </p>
      </div>
      <div>
      <img src="http://www.javatpoint.com/images/javascript/javascript_logo.png" height="100" width="100">
      <br>
      <button method ="get" type="button">Comment</button>
      <p> @Gabe: This is a great picture, glad I found this! </p>
      </div>
    </article>
  </section>
   <section>
  VIDEOS
    <article>
      <div>
      <img src="http://www.javatpoint.com/images/javascript/javascript_logo.png" height="100" width="100">
      <br>
      <button method ="get" type="button">Comment</button>
      <p> @Gabe: This is a great picture, glad I found this! </p>
      </div>
      <div>
       <img src="http://www.javatpoint.com/images/javascript/javascript_logo.png" height="100" width="100">
      <br>
      <button method ="get" type="button">Comment</button>
      <p> @Gabe: This is a great picture, glad I found this! </p>
      </div>
      <div>
       <img src="http://www.javatpoint.com/images/javascript/javascript_logo.png" height="100" width="100">
      <br>
      <button method ="get" type="button">Comment</button>
      <p> @Gabe: This is a great picture, glad I found this! </p>
      </div>
      <div>
      <img src="http://www.javatpoint.com/images/javascript/javascript_logo.png" height="100" width="100">
      <br>
      <button method ="get" type="button">Comment</button>
      <p> @Gabe: This is a great picture, glad I found this! </p>
      </div>
    </article>
  </section>
</body>
</html>
