<!DOCTYPE html>
<html>
<head>
<title>Resorcerer</title>

<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/app.js"></script>

<<<<<<< HEAD
<!-- CSS -->
<link rel="stylesheet" href="/styles/welcome.css" type="text/css" />
<link rel="stylesheet" href="/styles/header.css" type="text/css" />
</head>
<body>
  <nav id="nav-bar-container">
      <img class="logo" src="http://clipartix.com/wp-content/uploads/2016/05/Cartoon-lightning-bolt-clipart.png">
      <span class="button-container">
        <a href="#"><button class="home" type="profile">Home</button></a>
        <a href="#"><button class="post" type="profile">Post</button></a>
        <a href="#"><button class="profile" type="profile">Profile</button></a>
      </span>
        <form action="/search" method="POST">
          <label for="search"></label>
           <span class="search-bar-container">
          <input id="search-bar" id="search" type="text" name="search" placeholder="Search for a topic or URL">
          <input class="search-button" type="submit" value="Search">
          </span>
        </form>
    </nav>
<br>
<br>
<br>
<br>

=======

<link rel="stylesheet" href="/styles/welcome.css" type="text/css" />
<link rel="stylesheet" href="../styles/header.css" type="text/css" />

</head>
<body>
  <% include ../views/partials/_header %>
<h2><%= username %>'s resources</h2>
<h3>Welcome to Resourcerer!</h3>
<br>
<<<<<<< HEAD
<br>
<br>
<br>

>>>>>>> ccc17cc58db68f24f22172d7ee1ad981a70735f0
=======
 <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Sort By...</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/filter-by-links" class="sortlinks">Links</a>
    <a href="/filter-by-pictures" class="sortpics">Pictures</a>
    <a href="/filter-by-video" class="sortvids">Videos</a>
  </div>
<script type="text/javascript">
  /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
>>>>>>> userfeature
</body>
</html>
