<!DOCTYPE html>
<html lang="en">
<body style="font-size:20px; padding:20px;">
    <!-- <form action="/urls/" method="POST" style="margin:20px;"> -->
     <h1>URL: - <%= urls %> </h1>  <br/>
     <p>type: <%= type %></p> <br/>
     <p>topic: <%= topic %></p>

    </form>
</body>
</html>