<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/welcome.css" type="text/css" />
    <link rel="stylesheet" href="../styles/header.css" type="text/css" />
  </head>
  <body style="font-size:20px; padding:20px;">
  <% include ../views/partials/_header %>
      <!-- <form action="/urls/" method="POST" style="margin:20px;"> -->
       <h1>URL: - <%= urls %> </h1>  <br/>
       <p>type: <%= type %></p> <br/>
       <p>topic: <%= topic %></p>
     <!--  </form> -->
  </body>
</html>
