<head>
<title>Resorcerer</title>
<script type="text/javascript">
  /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/app.js"></script>


<!-- CSS -->
<link rel="stylesheet" href="/styles/welcome.css" type="text/css" />
<link rel="stylesheet" href="/styles/header.css" type="text/css" />

</head>
<body>

<% include ../views/partials/_header %>

<section class="search-output">
 <% results.forEach(function(result){ %>
   <% if (typeof result === null) { %>
      <p><h2>No Results, Brah!</h2></p>
   <% } else { %>
     <p>
       <a href="<%=result.urls%>"><%= JSON.stringify(result.urls) %></a><br>
       <%= result.type %><br>
       <%= result.topic %>
     </p>
   <% } %>
 <% }); %>
</section>

<% include partials/_footer %>

</body>