<head>
<title>Resorcerer</title>

<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
<script type="text/javascript" src="/scripts/search.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="/styles/welcome.css" type="text/css" />
<link rel="stylesheet" href="/styles/header.css" type="text/css" />

</head>

<body>

<% include ../views/partials/_header %>




</body>
