<% include partials/_header %>

 <!-- SHARE-PAGE.EJS -->
    <section class="share-container">
      <form action="/share" method="POST">
        <span class="share-form">
          <input id="urlinput" type="text" name="share" placeholder="Enter a URL"/>
        </span>
        <span class="chooseTypeContainer">
          <p>Choose Type:</p>
          <input type="radio" name="type" value="url" checked>URL</input>
          <input type="radio" name="type" value="video">Video</input>
          <input type="radio" name="type" value="picture">Picture</input>
        </span>
        <span class="share-form">
          <p>Enter topic:</p>
          <input id="topicinput" type="text" name="share" placeholder="ex. Javascript"/>
        </span>
        <input class="share-submit" type="submit" value="Share"/>
      </form>
    </section>


 <% include partials/_footer %>
