<!DOCTYPE html>
<html>
<head>
<title>Resorcerer</title>
  <script type="text/javascript">
    $(':radio').change(
    function(){
      $('.choice').text( $(this).val() + 'stars' );
    })
  </script>
  <script type="text/javascript">
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
  </script>
  <script type="text/javascript">
    document.getElementById('btn').onclick = function() {
    var input = document.getElementById('inputcounter');
    input.value = parseInt(input.value) + 1;
    };
  </script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/userResources.js"></script>

<link rel="stylesheet" href="/styles/welcome.css" type="text/css" />
<link rel="stylesheet" href="/styles/header.css" type="text/css" />
</head>
<body>
<% include ../views/partials/_header %>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Sort By...</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/filter-by-links" class="sortlinks">Links</a>
    <a href="/filter-by-pictures" class="sortpics">Pictures</a>
    <a href="/filter-by-video" class="sortvids">Videos</a>
  </div>
<div class="row"></div>

</body>
</html>