#nav-bar-container .sitelogo {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid black;
  padding: 2px;
}
h2.h2header{
  font-size: 3em;
  color: black;
  float: left;
  margin-top: 0;
  /*line-height: 40px;*/
}
form#searchkey {
  float: right;
  margin-top: 27px;
  margin-right: 15px;
}
input#search {
  float:left;
}
input.searchfor {
  float: left;
  /*display: inline;*/
}
#nav-bar-container {
  width: 100%;
  height: 80px;
  background-color: green;
/*  vertical-align: middle;*/
  line-height: 80px;
  padding: 10px 10px 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.button-container {
  float: right;
  margin-right: 2em;
}