
.share-container {
  width: 450px;
  height: 250px;
  margin: 0 auto;
  background-color: white;
  margin-top: 140px;
  padding: 2em 2em;
}

input#urlinput {
  width: 423px;
  margin: 15px auto;
  padding: 1em;
}

input#topicinput {
  width: 423px;
  margin: 15px auto;
  padding: 1em;
}

input.share-submit {
  float: right;
  width: 125px;
  background-color: #ff9670;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
