
.share-container {
  width: 450px;
  height: 250px;
  margin: 0 auto;
  background-color: white;
  margin-top: 140px;
  padding: 2em 2em;
}

input#share {
  width: 423px;
  margin: 15px auto;
  padding: 1em;
}

input.share-submit {
  float: right;
  width: 125px;
  background-color: #ff9670;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

/* ----------------------------------------------BUTTON --------------------------------*/
/* Style The Dropdown Button */
.dropbtn {
  background-color: #ff9670;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #71eeb8;
}
