article {
    display: inline-block;


    column-count: 4;

    column-gap: 30px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}
img {
  align-self: auto;
}

div {
  border: 2px solid black;
  border-radius: 10px;
}


